.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(34, 34, 34, 0.5);
    padding: 1em;
}


.list {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0; 
    padding: 0; 
}

.item {
    margin-right: 1em;
}

.item a {
    color: #fff;
    text-decoration: none;
}

.item a:hover {
    color: #ffbb33;
}